<ion-tabs>
  <app-header slot="top" [showH]="true" ></app-header>
  <ion-tab-bar style="background-color: #105493;" slot="top">
    <ion-tab-button tab="infobasica" color="dark">
      <ion-icon name="person-circle-sharp" color="dark"></ion-icon>
      <ion-label color="dark">INF.BASICA</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="causa" color="dark">
      <ion-icon name="walk-sharp" color="dark"></ion-icon>
      <ion-label color="dark">CAUSA</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="expgeneral" color="dark">
      <ion-icon name="git-network-outline" color="dark"></ion-icon>
      <ion-label color="dark">EXP.GENERAL</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="expfisica" color="dark">
      <ion-icon name="body-sharp" color="dark"></ion-icon>
      <ion-label color="dark">EXP.FISICA</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="diagnostico" color="dark">
      <ion-icon name="thermometer-sharp" color="dark"></ion-icon>
      <ion-label color="dark">DIAGNOSTICO</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="procedimientos" color="dark">
      <ion-icon name="cut-sharp" color="dark"></ion-icon>
      <ion-label color="dark">PROCEDIMIENTO</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="complementos" color="dark">
      <ion-icon name="bandage-sharp" color="dark"></ion-icon>
      <ion-label color="dark">COMPLEMENTO</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="otros" color="dark">
      <ion-icon name="clipboard-sharp" color="dark"></ion-icon>
      <ion-label color="dark">OTROS</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>