<ion-content color="dark">
  <ion-row>
    <ion-col size="12">
      <ion-text class="ion-text-center">
        <h5>Información del Paciente</h5>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2.5">
      <ion-item>
        <ion-label position="floating">Nombres</ion-label>
        <ion-input type="text" (ionChange)="setNom($event)"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="2.5">
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input type="text" (ionChange)="setApe($event)"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="2.5">
      <ion-item>
        <ion-label position="floating">F. de Nacimiento</ion-label>
        <ion-datetime (ionChange)="calculaEdad($event)" cancelText="Cancelar" doneText="Guardar"
          [value]="today.toISOString()" displayFormat="DD/MMM/YYYY" min="1900-01-01"
          monthShortNames="Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic">
        </ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size="2">
      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input readonly type="text" value="{{edad}} {{tipoEdad}}"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="2.5">
      <ion-item>
        <ion-label position="floating">Género</ion-label>
        <ion-select cancelText="Cancelar" required="true" [(ngModel)]="genero"
          [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Genero">
          <ion-select-option *ngFor="let g of gen" value="{{g.id_genero}}">{{g.nombre_genero}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">
      <ion-item>
        <ion-label position="floating">Celular</ion-label>
        <ion-input [(ngModel)]="celular" type="text"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="2">
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input [(ngModel)]="telefono" type="text"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="2">
      <ion-item>
        <ion-label position="floating">DNI</ion-label>
        <ion-input type="text" [(ngModel)]="dni"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="2">
      <ion-item>
        <ion-label position="floating">Tipo DNI</ion-label>
        <ion-select cancelText="Cancelar" [(ngModel)]="tdni" required="true"
          [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Tipo DNI">
          <ion-select-option *ngFor="let td of tipoDNI" value="{{td.id_tipo}}">{{td.descripcion}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item>
        <ion-label position="floating">Asegurador</ion-label>
        <ionic-selectable #selectAseg [(ngModel)]="aseg" [items]="asegs" itemValueField="id_asegurador"
          itemTextField="nombre_asegurador" [searchFailText]="'No se encontraron Aseguradoras.'"
          searchPlaceholder="Buscar Aseguradora" [canSearch]="true" (onSearch)="searchAseg($event)" closeButtonText="">
          <ng-template ionicSelectableTitleTemplate>
            <span style="color: white;">Elegir Aseguradora</span>
          </ng-template>
          <ng-template ionicSelectableFooterTemplate>
            <ion-footer>
              <ion-toolbar>
                <ion-row>
                  <ion-col size="4">
                    <ion-button color="dark" (click)="asegCancel()" expand="block" fill="clear" shape="round">
                      Cancelar
                    </ion-button>
                  </ion-col>
                  <ion-col size="4">
                    <ion-button color="dark" (click)="asegClear()" expand="block" fill="clear" shape="round">
                      Limpiar
                    </ion-button>
                  </ion-col>
                  <ion-col size="4">
                    <ion-button color="dark" (click)="asegConf()" expand="block" fill="clear" shape="round">
                      Guardar
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-toolbar>
            </ion-footer>
          </ng-template>
        </ionic-selectable>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input [(ngModel)]="direc" type="text"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-item>
        <ion-label position="floating">Departamento</ion-label>
        <ion-select cancelText="Cancelar" (ionChange)="setDpto($event)" required="true"
          [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Departamento">
          <ion-select-option *ngFor="let d of dptos" value="{{d.cod_dpto}}">{{d.nombre_dpto}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-item>
        <ion-label position="floating">Provincia</ion-label>
        <ion-select cancelText="Cancelar" (ionChange)="setProv($event)" required="true"
          [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Provincia">
          <ion-select-option *ngFor="let p of provs" value="{{p.cod_provincia}}">{{p.nombre_provincia}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-item>
        <ion-label position="floating">Distrito</ion-label>
        <ion-select cancelText="Cancelar" (ionChange)="setDist($event)" required="true"
          [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Distrito">
          <ion-select-option *ngFor="let d of dists" value="{{d.cod_distrito}}">{{d.nombre_distrito}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-text class="ion-text-center">
        <h5>Información del Caso</h5>
      </ion-text>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Número del Caso</ion-label>
        <ion-input readonly value="{{idcaso}}" type="text"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Kilómetro Inicial</ion-label>
        <ion-input [(ngModel)]="kinicial" type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>