<app-header></app-header>
<ion-content>
  <div class="container">
    <ion-header>
      <ion-toolbar>
        <ion-label color="dark" style="text-align: center;">
          <h2>EXPORTAR CASOS</h2>
        </ion-label>
      </ion-toolbar>
    </ion-header>
    <ion-row>
      <ion-col size="12">
        <ion-text class="ion-text-left">
          <h5>Los casos que se visualizan en esta pantalla, están pendientes por sincronizar, puede elegir uno a uno o
            sincronizarlos todos.</h5>
        </ion-text>
      </ion-col>
    </ion-row>
  </div>
</ion-content>